html, body {
  height: 100%;
  background-color: #e9e9e9;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(100,70,70,0.12);
  border-radius: 15px;
  margin: 15px;
  padding: 20px;
}

.text {
  width: 240px;
  margin: 0 10px 0 10px;
}

.inplabel {
  width: 50px;
  margin: 0 10px 0 10px;
}

.side {
  justify-content: flex-start;
  height: 100%;
}

.vert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ccmenu {
  width: 240px;
  height: 50px;
  margin: 0 10px 0 10px;
}

.panetext {
  width: 170px;
  text-align: center;
  margin: 0 10px 0 10px;
}

.pane {
  width: 50px;
  height: 50px;
}

.hide {
  display: none;
}

.unhide {
  display: flex;
}


.butts {
  cursor: pointer;
  box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(100,70,70,0.12);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.butts:active {
  box-shadow: inset -10px -10px 15px rgba(255,255,255,0.5), inset 10px 10px 15px rgba(70,70,70,0.12);
}

.smallbutts {
  cursor: pointer;
  box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(100,70,70,0.12);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallbutts:active {
  box-shadow: inset -10px -10px 15px rgba(255,255,255,0.5), inset 10px 10px 15px rgba(70,70,70,0.12);
}

.smallicon {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 10px;
  background-color: #FF3333;
}

.smallicon:hover {
  background-color: #FFCCCC;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0 10px 0 10px;
}

.icon:hover {
  background-color: #FFFFFF;
}
